/* App.css */
/* These styles effect the entire domain.*/
@import "./elements/reset.css";
@import "./elements/eslint.css";
@import "./elements/postcss-lint.css";
@import "./elements/typography.css";
@import "./components/responsive-image.css";
@import "./components/nav.css";
@import "./content/home.css";

body {
  background-color: gray(245);
}

.root,
.react-wrapper {
  min-height: 100%;
}

.root {
  min-height: 100%;
  background-color: gray(245);
}

.site-header.init {
  opacity: 0;
}

.hero.init {
	opacity: 0;
}

.site-footer.init {
	opacity: 0;
}

.main.init{
	opacity: 0;
}
