{
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "rules": {
    "comma-dangle": [2, "never"],
    "constructor-super": 0,
    "comma-spacing": [2, {"before": false, "after": true}],
    "id-length": [1, {"min": 2, "exceptions": ["i"]}],
    "no-unused-vars": [1, { "vars": "all", "args": "none" }],
    "quotes": [1, "double", "avoid-escape"],
    //"react/jsx-curly-spacing": [1, "always"],
    "react/jsx-curly-spacing": [0],
    "no-console": [0],
    "indent": [0],
    "quotes": [0],
    "id-length": [0],
    "react/no-did-mount-set-state": [0],
    "jsx-boolean-value": [0]
    }
}
