*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache


# OS or Editor folders
.DS_Store
.cache
Thumbs.db


# react-base
node_modules
_process
react-base.sublime-project
react-base.sublime-workspace