/*! Covers ------------------------------------------------------------------*/
@import "../@lib.css";

.cover {
	position: relative;
	z-index: 2;
	width: 20vh;
	height: 20vh;
	border-bottom: 4vh solid white;
	box-shadow: 0 0 0 10px white,
						  0 0 0 11px black(.1);

	.responsive-container {
		overflow: hidden;

		img {
	    height: 100%;
	    width: auto;
			transition:
				opacity .35s,
				transform .5s;
			opacity: .9;
			border: 1px solid transparent;
		}
	}

	.description {
		box-shadow: inset 0 0 0 1px black(.1);
		position: absolute;
		z-index: 9999;
		width: 100%;
		height: 100%;
		top: 0;
		transition: background-color .35s;

		h2 {
			padding: 1rem;
			position: absolute;
			bottom: -6.2vh;
		}
	}

	&:hover {
		cursor: pointer;

		.description {
			background-color: black(.1);
		}

		img {
			transform: scale(1.1);
		}
	}
}