/*! Covers ------------------------------------------------------------------*/
@import "../@lib.css";

.covers {
	display: flex;
	flex-direction: column;

	@media w(480){
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		align-content: flex-start;
	}

	@media w(768){
		align-content: center;
		align-items: center;
	}
}

.cover {
	position: relative;
	z-index: 2;
	width: 60vw;
	height: 60vw;
	box-shadow: 0 0 0 1px black(.1);
	margin-bottom: 10vh;
	text-align: center;
  background: white;
  padding: 1rem 1rem 6rem;
	/* iOS disable selection on tap */
	-webkit-tap-highlight-color: transparent;

  @media w(568) {
		width: 25vw;
		height: 25vw;
		margin-bottom: 0;

		&:nth-of-type(-n+2) {
			margin-bottom: 5vw;
		}

		&:nth-of-type(2n+1) {
			margin-right: 5vw;
		}
  }

  @media w(1024) {
		width: 15vw;
		height: 15vw;
		margin-right: 5vw;

		&:nth-of-type(-n+4) {
			margin-bottom: 5vw;
		}

		&:last-of-type {
			margin-right: 0;
		}
  }

	.responsive-container {
		overflow: hidden;
		border: $border;
		margin: -0 0 0 -1px;

		img {
	    height: 100%;
			opacity: .85;
			transition:
				opacity .35s,
				transform .5s;
	    width: auto;
		}
	}

	.cover-title {
		color: $body-color;
		line-height: 3.5;
	}

	&:hover {
		cursor: pointer;

		img {
			opacity: 1;
			transform: scale(1.1);
		}
	}
}