/*! Hero --------------------------------------------------------------------*/
@import "../@lib.css";

.hero {
  position: absolute;
  width: 100vw;
  height: 100vh;
	z-index: 1;
	mix-blend-mode: multiply;
	top: 0;
	pointer-events: none;

	.hero-image {
	  position: fixed;
	  max-height: 100vh;
	  max-width: 100vw;
	  right: 0;

		img {
			height: 100vh;
		}
	}
}
