/*! Logo --------------------------------------------------------------------*/
@import "../@lib.css";

$logo-size: 6rem;

.site-logo {
  @mixin font-family serif;
  background-color: gray(0, 70%);
  border-radius: 50%;
  box-shadow: 0 0 0 2px $background-color,
    0 0 0 3px gray(215),
    -0px -0px 15px 1px gray(20) inset;
  display: inline-block;
  width: $logo-size;
  height: $logo-size;
  position: relative;

  &:after {
    color: white;
    content: "j";
    font-size: 3.6rem;
    font-weight: 400;
    left: 46%;
    line-height: 0;
    position: absolute;
    text-rendering: geometricPrecision;
    top: 45%;
  }

  /* Change the size of logo instead of scale due to js transform on appear */
  @media (--phone) {
    width: calc($logo-size - .2rem);
    height: calc($logo-size - .2rem);

    &:after {
      font-size: 3.8rem;
    }
  }

  @media (--laptop) {
    width: calc($logo-size);
    height: calc($logo-size);

    &:after {
      font-size: 4rem;
    }
  }

  @media (--desktop) {
    width: calc($logo-size + .5);
    height: calc($logo-size + .5);

    &:after {
      font-size: 4.2rem;
    }
  }

  @media (--highRes) {
    width: calc($logo-size + 1);
    height: calc($logo-size + 1);

    &:after {
      font-size: 4.6rem;
    }
  }
}

.site-logo-link-text {
  @mixin hidden-text;

  @media w(300) {
    width: 100px;
  }

  @media h(300) {
    width: 200px;
  }
}
