/*! Nav Toggle --------------------------------------------------------------*/
@import "../@lib.css";

/* Animated hamburger icon
based on http://callmenick.com/post/animating-css-only-hamburger-menu-icons */

.nav-toggle-btn {
  background-color: transparent;
  /*  button overrides */
  appearance: none;
  border: none;
  box-shadow: none;
  position: absolute;
  z-index: 11;

  /* TODO = update w real measurements based off main and site-header */
  right: 5vw;
  top: 4vh;

  &:hover {
    background: transparent;
    cursor: pointer;

    .nav-toggle .inner {
      opacity: 1;
    }
  }

  &:focus {
    outline: none;

    .nav-toggle .inner {
      opacity: 1;
    }
  }
}

.nav-toggle {
  display: block;
  height: 24px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 18px;
}

.nav-toggle .inner {
  @mixin hidden-text;
  background-color: gray(100);
  border-radius: 2px;
  display: block;
  height: 2px;
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  opacity: .5;
  transition: opacity .3s;
  animation: middle-show .3s forwards;
}

.nav-toggle .inner:before,
.nav-toggle .inner:after {
  background-color: gray(100);
  border-radius: 2px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.nav-toggle .inner:before {
  transform: translateY(-7px);
  animation: top-from-x .6s forwards;
}

.nav-toggle .inner:after {
  transform: translateY(7px);
  animation: bottom-from-x .6s forwards;
}

/* active state (menu open) */
.nav-toggle.nav-is-expanded .inner {
  animation: middle-hide .6s forwards;
}

.nav-toggle.nav-is-expanded .inner:before {
  animation: top-to-x .6s forwards;
}

.nav-toggle.nav-is-expanded .inner:after {
  animation: bottom-to-x .6s forwards;
}

@keyframes middle-hide {
  0% {
    background-color: gray(100);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes middle-show {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: gray(100);
  }
}

@keyframes bottom-to-x {
  50% {
    transform: translateY(-0px);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes bottom-from-x {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(7px);
  }
}

@keyframes top-to-x {
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes top-from-x {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(-7px);
  }
}
