/*! Nav ----------------------------------------------------------------------*/
.site-nav {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 1rem;
  text-align: right;
}

.site-nav li {
  display: inline-block;
  margin-right: 1rem;
}