/*! Page Wrapper -------------------------------------------------------------*/
@import "../@lib.css";
@import "./grid.css";

.site-header {
  background-color: black(.03);
  border-bottom: 1px solid black(.1);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  transition: height 1s cubic-bezier(.16, .035, .24, 1.295),
    background-color 1s cubic-bezier(.16, .035, .24, 1.295);
  width: 100%;
  z-index: 10;
  height: 20vh;

  &.photography {
    background-color: black(.2);
  }

  @media h(481) {
    height: 10vh;
  }

  @media h(628) {
    height: 10vh;
  }
}

.site-logo {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 20vh;
  z-index: 11;
  /* iOS disable selection on tap */
  -webkit-tap-highlight-color: transparent;

  .site-logo-link {
    width: 6rem;
    height: 6rem;
  }

  @media h(481) {
    top: 10vh;
  }

  @media h(628) {
    top: 10vh;
  }

  @media h(667) {
    .site-logo-link {
      width: 6.5rem;
      height: 6.5rem;
    }
  }

  @media h(900) {
    .site-logo-link {
      width: 7.5rem;
      height: 7.5rem;
    }
  }
}

.main {
  text-align: center;
  flex: 1 1 auto;
  padding-top: 35vh;
  padding-bottom: 10vh;
  width: 80vw;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;

  @media h(469) {
    padding-top: 20vh;
    padding-bottom: 10vh;
  }

  @media h(768) {
    padding-top: 17vh;
    padding-bottom: 8vh;
    width: 70vw;
  }

  @media w(1280) {
    width: 60vw;
  }

  @media w(1660) {
    width: 40vw;
  }
}

.content {
  width: 100%;
  z-index: 0;
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
}

.page-title {
  margin-bottom: 5vh;
}

.covers {
  flex: 2 1 auto;
}

.site-footer {
  width: 100vw;
  background-color: black(.05);
  border-top: 1px solid black(.1);
}
