/*! Page Wrapper -------------------------------------------------------------*/
@import "../@lib.css";
@import "./grid.css";

.site-header {
	text-align: center;
}

.main {
  margin-top: 45vh;
  text-align: center;

  @media h(321) {
    margin-top: 28vh;
  }

  @media h(481) {
    margin-top: 35vh;
  }

  @media h(800) {
    margin-top: 35vh;
  }

  @media h(950) {
    margin-top: 30vh;
  }
}

.site-footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: gray(235);
  border-top: 1px solid gray(217);
  margin-top: 3rem;

  @media h(321) {
    position: absolute;
    margin-top: 0;
  }
}
