/*! Page Wrapper -------------------------------------------------------------*/
@import "../@lib.css";
@import "./grid.css";

.site-header {
  background-color: black(.1);
  /* canary only :( */
  backdrop-filter: blur(3px);
  border-bottom: 1px solid black(.1);
  position: fixed;
  top: 0;
  left: 0;
  transition: height 1s cubic-bezier(.16, .035, .24, 1.295),
    background-color 1s cubic-bezier(.16, .035, .24, 1.295);
  width: 100%;
  z-index: 1;
  height: 20vh;

  @media h(481) {
    height: 15vh;
  }

  @media h(628) {
    height: 10vh;
  }
}

.site-logo {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 20vh;

  .site-logo-link {
    width: 6rem;
    height: 6rem;
  }

  @media h(481) {
    top: 15vh;
  }

  @media h(628) {
    top: 10vh;
  }

  @media h(667) {
    .site-logo-link {
      width: 6.5rem;
      height: 6.5rem;
    }
  }

  @media h(900) {
    .site-logo-link {
      width: 7.5rem;
      height: 7.5rem;
    }
  }
}

.main {
  text-align: center;
  flex: 1 1 auto;
  padding-top: 40vh;
  padding-bottom: 10vh;
  width: 80vw;

  @media h(481) {
    padding-top: 30vh;
    padding-bottom: 15vh;
  }

  @media h(568) {
    padding-top: 25vh;
    padding-bottom: 10vh;
  }

  @media h(667) {
    padding-top: 20vh;
    padding-bottom: 10vh;
  }

  @media h(768) {
    padding-top: 17vh;
    padding-bottom: 8vh;
  }

  @media w(768) {
    width: 70vw;
  }

  @media w(1280) {
    width: 60vw;
  }

  @media w(1660) {
    width: 40vw;
  }
}

.content {
  width: 100%;
  align-self: center;
}

.site-footer {
  width: 100vw;
  background-color: black(.05);
  border-top: 1px solid black(.1);
}
