/*! Social Links ------------------------------------------------------------ */
@import "../@lib.css";
@import "../elements/icons.css";

.social-links {
  margin-top: 3rem;
  transition: margin .5s ease;

  @media h(768) {
    margin-top: 6rem;
  }
}

.social-link-item {
  margin-bottom: 1rem;
  text-align: center;
  transition: margin .5s ease;

  @media w(768) {
    margin-bottom: 1.5rem;
  }

  @media w(1024) {
    margin-bottom: 2rem;
  }

  @media w(1440) {
    margin-bottom: 2.5rem;
  }
}

.social-link:hover {
  color: $dark-red;
}

.social-link-text {
  @mixin hidden-text;
}
