@import "../@lib.css";
@import "../elements/icons.css";

.social-links {
  margin-top: 3rem;

  @media (--highRes) {
    margin-top: 4rem;
  }
}

.social-link-item {
  text-align: center;
  margin-bottom: 1rem;

  @media (--tablet) {
    margin-bottom: 1.5rem;
  }

  @media (--laptop) {
    margin-bottom: 2rem;
  }

  @media (--highRes) {
    margin-bottom: 2.5rem;
  }
}

.social-link:hover {
  color: $dark-red;
}

.social-link-text {
  @mixin hidden-text;
}
