/*! Eslint -------------------------------------------------------------------*/
body > div:last-child {
  letter-spacing: .5px !important;
  color: rgba(0, 0, 0, .5) !important;
  background-color: Gainsboro !important;
  padding: 3rem;
  font-size: 13px;
  line-height: 1.7;
  text-rendering: optimizeLegibility;

  > pre {
    font-family: $font-family;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    word-break: break-word !important;
    hyphens: auto !important;
  }
}