/*! PostCSS Browser Reporter / Stylelint -------------------------------------*/
body:before {
  font-family: $font-family !important;
  background: rgba(0, 0, 0, .85) !important;
  bottom: 0;
  color: Gainsboro !important;
  text-shadow: none !important;
  font-size: 13px !important;
  line-height: 1.7 !important;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
  padding: 3rem !important;
  text-rendering: optimizeLegibility;
  letter-spacing: .05rem;
}