/*! Typography ---------------------------------------------------------------*/
@import "../lib/type.css";

body {
  font-size: responsive 16px 20px;
  font-range: 320px 1440px;
  font-weight: 300;
  line-height: 1.5;
  color: $body-color;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 1.5rem;
  font-weight: 300;
}

h1 {
  font-size: responsive 24px 36px;
  font-range: 320px 1400px;
}

h2 {
  font-size: responsive 18px 20px;
  font-range: 320px 1400px;
}

h3 {
  font-size: responsive 15px 18px;
  font-range: 320px 1400px;
  font-weight: 400;
}

dl {
  display: flex;
  text-align: left;
  align-items: baseline;
}

dl {
  font-size: 80%;
}

dt {
  color: gray(110);
  margin-right: .5rem;
  display: inline-block;
  clear: both;
  font-weight: 400;
}

dd {
  text-rendering: geometricPrecision;
  display: inline;
  width: 80%;
}

.main  {
  @mixin font-family sans-serif;
}

p,
.page-title,
blockquote,
ol,
ul {
  @mixin font-family serif;
}

ol {
  margin: 0 3rem;
  list-style: decimal outside;

  li {
    margin-bottom: 1.5rem;
  }
}


.bulleted-list {
  margin: 3rem;
  list-style: disc outside;
}

blockquote {
  margin: 1rem 3rem 1rem 3rem;
  font-style: italic;
  letter-spacing: .05rem;
  color: gray(100);
}

.site-logo-link {
  font-size: responsive 36px 44px;
  font-range: 320px 1400px;
  text-rendering: geometricPrecision;
}

.intro-text {
  font-range: 320px 1400px;
  line-height: 1.5;
  margin: -2vh auto 5vh;
  width: 100%;
  max-width: 700px;

  @media w(568) {
    margin-bottom: 10vh;
  }
}

.nav-links {
  font-size: responsive 18px 22px;
  font-range: 320px 1400px;
  @mixin font-family sans-serif;
  font-weight: 300;
}

.small {
  font-size: 95%;
  font-style: italic;
  color: gray(120);
}

.external-link {
  padding-right: 1.5rem;
  position: relative;

  @media w(880) {
    padding-right: 1.6rem;
  }

  @media w(1220) {
    padding-right: 1.7rem;
  }

  &:after {
    content: '';
    width: .8rem;
    height: .8rem;
    background-color: red;
    position: absolute;
    background: url(../img/ico/external-link.svg) no-repeat;
    margin: 7px 0 0 5px;

    @media w(510) {
      margin: 8px 0 0 5px;
    }

    @media w(880) {
      width: .9rem;
      height: .9rem;
    }

    @media w(1220) {
      width: 1rem;
      height: 1rem;
    }

    @media w(1220) {
      margin: 9px 0 0 5px;
    }
  }
}

.section-break {
  border: 0;
  height: 3px;
  margin: 3rem auto;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;

  &:before {
    color: gray(100);
    content: '...';
    width: 100%;
  }

  @media w(768) {
    margin: 3.5rem auto;
  }

  @media w(1120) {
    margin: 4rem auto;
  }

  @media w(1280) {
    margin: 4.5rem auto;
  }

  @media w(1440) {
    margin: 5rem auto;
  }
}