/*! Typography ---------------------------------------------------------------*/
@import "../lib/type.css";

body {
  font-size: responsive 14px 20px;
  font-range: 320px 1440px;
  font-weight: 300;
  line-height: 1.5;
  color: $body-color;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 1.5rem;
  font-weight: 300;
}

h1 {
  font-size: responsive 24px 36px;
  font-range: 320px 1400px;
}

h2 {
  font-size: responsive 18px 20px;
  font-range: 320px 1400px;
}

h3 {
  font-size: responsive 15px 18px;
  font-range: 320px 1400px;
  font-weight: 400;
}

dl {
  display: flex;
  text-align: left;
  align-items: baseline;
}

dl {
  font-size: 80%;
}

dt {
  color: gray(110);
  margin-right: .5rem;
  display: inline-block;
  clear: both;
  font-weight: 400;
}

dd {
  text-rendering: geometricPrecision;
  display: inline;
  width: 80%;
}

.main  {
  @mixin font-family sans-serif;
}

p,
.page-title {
  @mixin font-family serif;
}

.site-logo-link {
  font-size: responsive 36px 44px;
  font-range: 320px 1400px;
  text-rendering: geometricPrecision;
}

.intro-text {
  font-size: responsive 14px 20px;
  font-range: 320px 1400px;
  line-height: 1.5;
  margin: auto;
  text-align: center;
  width: 90vw;

  @media w(400) {
    width: 70vw;
  }

  @media w(500) {
    width: 60vw;
  }

  @media w(768) {
    width: 70vw;
    max-width: 41rem;
  }
}

.nav-links {
  font-size: responsive 18px 22px;
  font-range: 320px 1400px;
  @mixin font-family sans-serif;
  font-weight: 300;
}

.small {
  font-size: 95%;
  font-style: italic;
  color: gray(120);
}