/*! Design Page -------------------------------------------------------------*/
@import "../@lib.css";

.project {
	@mixin trailer;
	position: relative;
	z-index: 0;

  &:before {
    background: black(.1);
    border-bottom: 1px solid rgba(255, 255, 255, .9);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

	.project-title {
		background-color: $background-color;
		display: inline-block;
		line-height: 1;
		letter-spacing: .05rem;
		margin: 0;
		padding: 0 1rem;
		position: relative;
		transform: translateY(-50%);
		z-index: 1;
 	}

	.responsive-container {
		margin-bottom: 2vh;
	}

	.imageloader img {
		border: $border;
		width: 100%;
	}

	&:last-of-type {
		.imageloader img {
			border: initial;
		}
	}
}

dl {
	display: block;
	width: 100%;
}
dt {
	display: inline-block;
}
dd {
	display: inline-block;
}