/*! Photography Page --------------------------------------------------------*/
@import "../@lib.css";

.main.photography {
	z-index: initial;
	width: 100vw;
}

.full-frame-images {
  position: relative;
  top: -17vh;
}

.responsive-container.ff-image {
  height: 0;
  padding-bottom: 63.67%;
}

.full-frame-image {
  width: 100vw;

  img {
    width: 100%;
    border-bottom: 1px solid $background-color;
    display: block;
  }
}