/*! Design Page -------------------------------------------------------------*/
@import "../@lib.css";

.projects {
  .circular {
    display: none;
  }
}

.project {
	@mixin trailer;
	position: relative;
  max-width: 290px;
  margin: 0 auto;
  transition: max-width .6s;

	&.has-title {
		&:before {
			background: black(.1);
			border-bottom: 1px solid rgba(255, 255, 255, .9);
			content: "";
			height: 1px;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

  @media w(1280){
    max-width: 320px;
  }

  @media w(1680){
    max-width: 400px;
  }

  &.expanded {
    @media w(568)  {
      width: 80vw;
      max-width: 500px;
    }

    @media w(768)  {
      width: 70vw;
      max-width: 500px;
    }

    @media w(1024)  {
      width: 70vw;
      max-width: 700px;
    }

    @media w(1280)  {
      width: 60vw;
      max-width: 800px;
    }
  }
}

.project-cover-image {
	margin-bottom: 2rem;
}

.img-wrap.border img {
  border: 1px solid #ddd;
}

.project-content {
  margin: auto;
  text-align: left;
  width: 100%;

  @media w(400) { width: 90%; }
  @media w(920) { width: 80%; }
  @media w(1280) { width: 75%; }
}

.project-description,
.subproject-description {
  text-align: left;
}

.project-title {
	background-color: $background-color;
	display: inline-block;
	letter-spacing: .05rem;
	margin: 0;
	padding: 0 1rem;
	transform: translateY(-50%);
	z-index: 1;
}

/* Responsive project expanded, the duplicate that reloads the high res version */
.rc.expanded {
  position: absolute;
  top: 0;
  width: 100%;
}

.img-link {
  display: inline-block;
  position: relative;
  width: 100%;
}

/* Sub Projects --------------------------------------------------------------*/
.sub-projects {
  margin-top: 5vh;
  width: 100%;
}

.sub-project {
  width: 100%;
  margin-bottom: 4rem;

  .img-link {
    display: inherit;
  }
}

.sub-project-image {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;

  @media w(568) {
    margin: 8rem auto 2rem;
    margin-top: 1rem;
  }

  &.mobile {
    height: auto;
    min-height: 600px;
    min-width: 200px;
    width: 91%;
    margin-bottom: 0;

    &:before {
      background-image: url('../img/content/iphone-6.png');
      background-repeat: no-repeat;
      background-size: 100%;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      pointer-events: none;
      z-index: 5;
    }

    .imageloader p {
      position: relative;
      text-align: center;
      top: 45%;
    }

    .img-wrap {
      cursor: all-scroll;
      height: 400px;
      left: 13px;
      overflow: auto;
      position: absolute;
      top: 74px;
      /* width: 174px; */
      z-index: 4;
    }
  }
}

.halfsies .sub-project-image {
    @media w(768) {
      width: 45%;
      margin: 0;
    }
  }

.sub-project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media w(568) {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
  }

  .project-caption {
    margin-bottom: 3rem;
  }
}

.halfsies .sub-project-details {
  width: 100%;

  @media w(568) {
    width: 50%;
  }
}

.halfsies .sub-project-prototype,
.halfsies .sub-project-image {
  width: 100%;

  @media w(568) {
    width: 45%;
  }
}



.sub-project-title {
  letter-spacing: .05rem;
  border-bottom: $default-border;
}

.sub-project-description {
  width: 100%;
  padding-right: 2rem;

  @media w(568) {
    font-size: 90%;
  }
}

.sub-project-prototype {
  z-index: 2;

  iframe {
    border-bottom: none;
    width: 100%;
    margin-bottom: 0;
  }
}