/*! Design Page -------------------------------------------------------------*/
@import "../@lib.css";

.project {
	@mixin trailer;
	position: relative;

	&.has-title {
		&:before {
			background: black(.1);
			border-bottom: 1px solid rgba(255, 255, 255, .9);
			content: "";
			height: 1px;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

.project-cover-image {
	margin-bottom: 2rem;
}

.img-wrap.border img {
  border: $default-border;
}

.project-content {
  margin: auto;
  text-align: left;
  width: 100%;

  @media w(400) { width: 90%; }
  @media w(920) { width: 80%; }
  @media w(1280) { width: 75%; }
}

.project-description,
.subproject-description {
	text-align: left;
}

.project-title {
	background-color: $background-color;
	display: inline-block;
	letter-spacing: .05rem;
	margin: 0;
	padding: 0 1rem;
	transform: translateY(-50%);
	z-index: 1;
}

.project-caption {
	margin-top: 2vh;
}

/* Sub Projects --------------------------------------------------------------*/
.sub-projects {
  margin-top: 5vh;
  width: 100%;
}

.sub-project {
  width: 100%;

  .img-link {
    display: inherit;
  }

  .responsive-container {
    clear: both;
    position: relative;
    width: 200px;
    margin: 8rem auto 4rem;

    @media w(568) {
      clear: none;
      margin-top: 1rem;
    }

    &.mobile {
      height: 420px;
      width: 200px;

      &:before {
        background-image: url('../img/content/iphone-6.png');
        background-repeat: no-repeat;
        background-size: 100%;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        pointer-events: none;
        z-index: 5;
      }

      .imageloader p {
        position: relative;
        text-align: center;
        top: 45%;
      }

      .img-wrap {
        cursor: all-scroll;
        height: 300px;
        left: 13px;
        overflow: auto;
        position: absolute;
        top: 62px;
        width: 174px;
        z-index: 4;
      }
    }
  }
}

.sub-project-details {
  display: flex;
}

.sub-project-title {
  letter-spacing: .05rem;
  border-bottom: $default-border;
}

.sub-project-description {
  width: 100%;
  font-size: 90%;
  padding-right: 1rem;

	@media w(568) {
    width: 55%;
  }

  @media w(1440) {
    width: 60%;
  }
}
